---
import { Icon } from 'astro-icon'
import Resume from './resume.pdf'
---

<div 
    class="relative mx-12 flex flex-col items-center justify-center gap-12 xl:flex-row xl:gap-36"
>
    <div class="w-full xl:w-2/3">
        <h1 class="">
            <span class="greetings">Hey, I am </span><br /><span id="name"
            >Yuvraj Singh Sandhu </span><br /><span id="role">Software Developer</span>
        </h1>
        <div class="relative">
            <svg class="absolute h-full w-full overflow-visible">
                <defs>
                    <linearGradient
                        id="gradient"
                        x1="0%"
                        y1="0%"
                        x2="100%"
                        y2="100%"
                    >
                        <stop offset="0%" style={{stopColor: "#3B33ff", stopOpacity:1}}></stop> {/* #DC3A2B */} 
                        <stop offset="100%" style={{stopColor: "#22D3EE", stopOpacity:1}}></stop> {/* #E18510 */}
                    </linearGradient>
                </defs>
                <path
                    id="border-path"
                    fill="none"
                    stroke="url(#gradient)"
                    stroke-width="4"
                >
                </path>
            </svg>
            <p id="anim-p" class="p-6 text-main">
                Hello, I'm Yuvraj, a passionate and dedicated fourth-year Computer Science student at McMaster University. 
                I have a profound love for programming and a knack for solving complex problems. With a strong foundation in 
                Java, Python and C. I am constantly exploring the world of technology and software development to create innovation 
                solutions and bring my ideas to life.
            </p>
            
        </div>
        
        {/* socials */}
        
        <div class="relative mx-12 my-12 flex flex-row items-center justify-center gap-24 xl:gap-36">
            
            {/* Linked In */}
            <a href="https://www.linkedin.com/in/yuvraj-singh-sandhu/" target="_blank">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="40" 
                    height="40" 
                    id="button"
                    viewBox="0 0 24 24">
                    <title>LinkedIn</title>
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path id="linkedin" d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2a2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6zM2 9h4v12H2z"/>
                        <circle id="linkedin1" cx="4" cy="4" r="2"/>
                    </g>
                </svg>
            </a>

            {/* Github */}
            <a href="https://github.com/yuvraj-sandhu" target="_blank">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="40" 
                    height="40" 
                    id = "button"
                    viewBox="0 0 24 24">
                    <title>GitHub</title>
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path id="github" d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5c.08-1.25-.27-2.48-1-3.5c.28-1.15.28-2.35 0-3.5c0 0-1 0-3 1.5c-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5c-.39.49-.68 1.05-.85 1.65c-.17.6-.22 1.23-.15 1.85v4"/>
                        <path id="github1" d="M9 18c-4.51 2-5-2-7-2"/>
                    </g>
                </svg>
            </a>

            {/* Gmail */}
            <a href="mailto:yuvrajsandhu2502@gmail.com">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="40" 
                    height="40" 
                    id="button"
                    viewBox="0 0 24 24">
                    <title>Gmail</title>
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path id="mail" d="M16 20h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3v16zM5 20h3V4H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1zM16 4l-4 4l-4-4"/>
                        <path id="mail1" d="m4 6.5l8 7.5l8-7.5"/>
                    </g>
                </svg>
            </a>

        </div>

        <div class="relative mx-12 my-16 flex flex-row items-center justify-center">
            <a class="link" href={`../../../resume.pdf`} target="_blank" rel="noopener noreferrer"><span id="link-text">View Resume</span></a>
        </div>

    </div>
</div>



<style>
    .greetings {
        margin: 0 0 30px 4px;
        padding: 15px 18px 15px 20px;
        color: #3b83f6;
        font-size: medium;
        border-radius: 20px 20px 20px 0px;
        border-width: 1px;
        border-style: solid;
        border-color: #3b83f6;
        line-height: 50px;

        @media (max-width: 480px) {
            margin: 0 0 20px 2px;
        }
    }
    #name {
        font-size: clamp(45px, 9.5vw, 75px);
        
        @media (max-width:1080px) {
            font-size: clamp(45px, 8.5vw, 75px);
            line-height: 55px;
            
        }
    }
    #role {
        
        color: #676f85;
        line-height: 0.9;
        font-size: clamp(40px, 8vw, 70px);

        @media (max-width: 450px) {
            font-size: clamp(40px, 8vw, 70px);
        }
    }

    #border-path {
        animation: draw 1s forwards 1s ease-out;
    }

    #button:hover{
        color:#00abf0;
        transform: scale(1.07) translateY(-7px);
    }
    #linkedin {
        animation: draw 2s forwards 1s ease-out;
    }
    #linkedin1 {
        animation: draw 1s forwards 2s ease-out;
    }
    #github {
        animation: draw 1.5s forwards 1s ease-out;
    }
    #github1 {
        animation: draw 1s forwards 2s ease-out;
    }
    #mail {
        animation: draw 3s forwards 1s ease-out;
    }
    #mail1 {
        animation: draw 1s forwards 2s ease-out;
    }

    .link {
        overflow: hidden;
      	display: flex;
      	align-items: center;
      	position: relative;
      	border-radius: 0.25rem;
      	border: #00abf0;
		border-style: solid;
        border-width: 1px;
        font-size: medium;
		padding: 1.25rem 1.75rem;
        line-height: 1;
        &:hover {
            background-color: rgba(59, 131, 246, 0.1);
        }
    }
    #link-text {
        color: #00abf0;
    }

    @keyframes draw {
        to{
            stroke-dashoffset: 0;
        }
    }
</style>

<script>
    function updatePath() {
        const textMain = document.querySelector("#anim-p") as HTMLElement
        const path = document.querySelector("#border-path") as SVGPathElement

        
        const path1 = document.querySelector("#linkedin") as SVGPathElement
        const path11 = document.querySelector("#linkedin1") as SVGPathElement
        const path2 = document.querySelector("#github") as SVGPathElement
        const path21 = document.querySelector("#github1") as SVGPathElement
        const path3 = document.querySelector("#mail") as SVGPathElement
        const path31 = document.querySelector("#mail1") as SVGPathElement

        
        if (textMain && path && path1 && path11 && path2 && path21 && path3 && path31) {
            path.setAttribute("d", `M0,0 V${textMain.offsetHeight} H${textMain.offsetWidth} v${textMain.offsetHeight / 2}`)
            const pathLength = path.getTotalLength()


            const pathLength1 = path1.getTotalLength()
            const pathLength11 = path11.getTotalLength()
            const pathLength2 = path2.getTotalLength()
            const pathLength21 = path21.getTotalLength()
            const pathLength3 = path3.getTotalLength()
            const pathLength31 = path31.getTotalLength()

            path1.style.strokeDasharray = pathLength1.toString()
            path1.style.strokeDashoffset = pathLength1.toString()
            path11.style.strokeDasharray = pathLength11.toString()
            path11.style.strokeDashoffset = pathLength11.toString()
            path2.style.strokeDasharray = pathLength2.toString()
            path2.style.strokeDashoffset = pathLength2.toString()
            path21.style.strokeDasharray = pathLength21.toString()
            path21.style.strokeDashoffset = pathLength21.toString()
            path3.style.strokeDasharray = pathLength3.toString()
            path3.style.strokeDashoffset = pathLength3.toString()
            path31.style.strokeDasharray = pathLength31.toString()
            path31.style.strokeDashoffset = pathLength31.toString()


            path.style.strokeDasharray = pathLength.toString()
            path.style.strokeDashoffset = pathLength.toString()
        }
    }

    window.addEventListener("DOMContentLoaded", updatePath)
    window.addEventListener("resize", updatePath)
</script>
