---
import profile from "../../../public/profile.png"
import MainLayout from "../layouts/main-layout.astro";

---

<MainLayout title={'About | Yuvraj Singh Sandhu'}>
	<div class="relative mx-12 gap-12 xl:gap-36">
		<h1 class="lg:text-[3.5rem] text-[2.5rem] my-2 xl:mx-56">About Me</h1>
		<div class="row">
			<div class="column left my-6">
				<div class="xl:mx-64 xl:w-8/12 w-full text-[1.1rem]">

					<p>Hi There!</p>
					<p>
						I am Yuvraj Singh Sandhu, a recent Computer Science graduate from McMaster University. 
						Throughout my academic journey, I have had the privilege of gaining invaluable insights into 
						the world of computer science. My coursework and project experience have fostered my ability 
						to think critically, reason analytically, and solve complex problems efficiently.
					</p>
					<p>
						One of my defining qualities is my ability to approach complex problems with a clear and 
						logical mindset. I relish the challenge of breaking down intricate issues into manageable 
						components and finding innovative solutions. My technical foundation includes proficiency 
						in Python, JavaScript, Java, and C, and I have hands-on experience in machine learning, 
						as well as both front-end and back-end development.
					</p>
					<p>
						Currently, I am seeking entry-level Software Engineer positions where I can contribute 
						my skills, grow professionally, and make a meaningful impact.
					</p>
					<p>
						Here are a few of the technologies I use to build projects:
					</p>

				</div>
				<div class="skills xl:mx-80 xl:w-8/12 w-full my-6">
					{/* skills */}
					<ul class="skills-list">
						<li>
							<div class="skill-svg">
								<img
                    				src={`../../Python.svg`}
                    				alt="PythonImg"
                  				/>
							</div>
							<p class="skill-name">Python</p>
						</li>
						<li>
							<div class="skill-svg">
								<img
                    				src={`../../JavaScript.svg`}
                    				alt="jsImg"
                  				/>
							</div>
							<p class="skill-name">JavaScript</p>
						</li>
						<li>
							<div class="skill-svg">
								<img
                    				src={`../../Java.svg`}
                    				alt="JavaImg"
                  				/>
							</div>
							<p class="skill-name">Java</p>
						</li>
						<li>
							<div class="skill-svg">
								<img
                    				src={`../../pytorch.svg`}
                    				alt="torchImg"
                  				/>
							</div>
							<p class="skill-name">PyTorch</p>
						</li>
						<li>
							<div class="skill-svg">
								<img
                    				src={`../../mongodb.svg`}
                    				alt="mongodbImg"
                  				/>
							</div>
							<p class="skill-name">MongoDB</p>
						</li>
						<li>
							<div class="skill-svg">
								<img
                    				src={`../../cursor.svg`}
                    				alt="cursorImg"
                  				/>
							</div>
							<p class="skill-name">Cursor</p>
						</li>
						<li>
							<div class="skill-svg">
								<img
                    				src={`../../svelte.svg`}
                    				alt="svelteImg"
                  				/>
							</div>
							<p class="skill-name">Svelte</p>
						</li>
						<li>
							<div class="skill-svg">
								<img
                    				src={`../../html.svg`}
                    				alt="htmlImg"
                  				/>
							</div>
							<p class="skill-name">HTML</p>
						</li>
						<li>
							<div class="skill-svg">
								<img
                    				src={`../../css.svg`}
                    				alt="jsImg"
                  				/>
							</div>
							<p class="skill-name">CSS</p>
						</li>
						<li>
							<div class="skill-svg">
								<img
                    				src={`../../MySQL.svg`}
                    				alt="SqlImg"
                  				/>
							</div>
							<p class="skill-name">MySQL</p>
						</li>
					</ul>
				</div>
			</div>
		
			<div class="column right">
			
				<img id="pic" src={'../../profile.png'} alt="Profile Picture" width="300" height="400" class="my-6"/>
				<svg class="absolute overflow-visible">
					<defs>
						<linearGradient
							id="gradient"
							x1="0%"
							y1="0%"
							x2="100%"
							y2="100%"
						>
							<stop offset="0%" style={{stopColor: "#3B33ff", stopOpacity:1}}></stop> {/* #DC3A2B */} 
							<stop offset="100%" style={{stopColor: "#22D3EE", stopOpacity:1}}></stop> {/* #E18510 */}
						</linearGradient>
					</defs>
					<path
						id="border-path"
						fill="none"
						stroke="url(#gradient)"
						stroke-width="2"
					>
					</path>
				</svg>
			</div>
		</div>
	</div>
</MainLayout>

<style>
    #border-path {
        position: relative;
        z-index: 1;
        animation: draw 1s forwards 1s ease-out;
    }
    @keyframes draw {
        to{
            stroke-dashoffset: 0;
        }
    }
	.column {
		float:left;
	}
	.left {
		width:60%;
		@media (max-width: 960px) {
			width: 105%;
		}
	}
	.right {
		width:40%;
		padding-left: 50px;
		@media (max-width: 960px) {
			width: 105%;
		}
		@media (max-width: 480px) {
			width: 105%;
			padding-left: 0px;
		}
	}
	.row:after {
		content: "";
		display: table;
		clear:both;
	}
	p {
		margin-bottom: 15px;
	}
	ul.skills-list {
		align-items: center;
		margin-left: auto;
    	margin-right: auto;
    	justify-content: center;
    	display: flex;
    	list-style: none;
    	margin: 15px 10px 0px 0px;
    	padding: 0px;
    	flex-wrap: wrap;
	}
    li {
      	overflow: hidden;
      	display: flex;
      	align-items: center;
      	position: relative;
      	border-radius: 0.75rem;
      	border: #ededed;
		border-style: solid;
		padding: 0px 15px 0px 15px;
      	margin: 0.6rem;
	}

	li:hover {
		transform: scale(1.1);
		border: #00abf0;
		border-style: solid;
		border-radius: 0.75rem;
	}

    .skill-svg {
        width: 25px;
        margin-right: 25px;
    }
    .skill-name {
        margin-top: 15px;
    }

	#pic {
		box-shadow: 7px 10px 20px rgba(0,0,0,0.2);
		border-radius: 10px;
		transition: transform 0.3s ease;
		position: relative;
		z-index: 2;
	}

	#pic:hover {
		transform: scale(1.05);
		z-index: 3;
	}
</style>

<script>
    function updatePath() {
        const textMain = document.querySelector("#pic") as HTMLElement
        const path = document.querySelector("#border-path") as SVGPathElement
        
        if (textMain && path) {
            path.setAttribute("d", `M24,-24 V${textMain.offsetHeight * 0 -10} H${textMain.offsetWidth + 14} v${-326} h${-14}`)
            const pathLength = path.getTotalLength()
            
            path.style.strokeDasharray = pathLength.toString()
            path.style.strokeDashoffset = pathLength.toString()
        }
    }

    window.addEventListener("DOMContentLoaded", updatePath)
    window.addEventListener("resize", updatePath)
</script>
