---
import MainLayout from "../layouts/main-layout.astro";

---

<MainLayout title={'Contact | Yuvraj Singh Sandhu'}>
    <div class="relative mx-12 flex items-center justify-center gap-12 xl:flex-row xl:gap-36">
        <div class="w-full lg:w-2/3">
            <h1 class="lg:text-[3.5rem] text-[2.5rem]">Contact Me</h1>
            <div class="contact flex-row">
                <span id="h1" class="text-4xl">Want to work together, or get in touch?<br/></span>
                <span id="h2">email - yuvrajsandhu2502@gmail.com</span><br/>
                <span id="h2">phone - +1 249-876-0397</span>
                <div class="flex items-center justify-center my-6">
                    <a class="animated-button" href="mailto:yuvrajsandhu2502@gmail.com">
                        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                            ></path>
                        </svg>
                        <span class="text">Say Hello</span>
                        <span class="circle"></span>
                        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                            ></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</MainLayout>


<style>
    .contact {
        
        text-align: center;
        margin: 40px auto 100px;

        @media (max-width:720px) {
            margin: 30px auto 100px;
        }
    }
    #h1 {
        line-height: 3;

        @media (max-width:720px) {
            line-height: 2;
            font-size: x-large;
        }
    }
    #h2 {
        color: #ededed;
        line-height: 2;
    }
    .animated-button {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 16px 36px;
        border: 4px solid;
        border-color: transparent;
        font-size: 16px;
        background-color: inherit;
        border-radius: 100px;
        font-weight: 600;
        color: #00abf0;
        box-shadow: 0 0 0 2px #00abf0;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button svg {
        position: absolute;
        width: 24px;
        fill: #00abf0;
        z-index: 9;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button .arr-1 {
        right: 16px;
    }

    .animated-button .arr-2 {
        left: -25%;
    }

    .animated-button .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background-color: #00abf0;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button .text {
        position: relative;
        z-index: 1;
        transform: translateX(-12px);
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button:hover {
        box-shadow: 0 0 0 12px transparent;
        color: #081b29;
        border-radius: 12px;
    }

    .animated-button:hover .arr-1 {
        right: -25%;
    }

    .animated-button:hover .arr-2 {
        left: 16px;
    }

    .animated-button:hover .text {
        transform: translateX(12px);
    }

    .animated-button:hover svg {
        fill: #081b29;
    }

    .animated-button:active {
        scale: 0.90;
        box-shadow: 0 0 0 4px #00abf0;
    }

    .animated-button:hover .circle {
        width: 220px;
        height: 220px;
        opacity: 1;
    }
    #hello {
        color: #00abf0;
    }


</style>