---
import MainLayout from "../layouts/main-layout.astro";

---

<MainLayout title={'Projects | Yuvraj Singh Sandhu'}>
    <div class="relative mx-12 flex items-center justify-center gap-12 xl:flex-row xl:gap-36">
        <div class="w-full xl:w-2/3">
            <h1 class="lg:text-[3.5rem] text-[2.5rem] xl:-mx-12">Projects</h1>
            <div class="project-inner xl:w-full my-6">
                

                <article class="project-card row">

                    <div class="project-content right">
                        <h2 class="project-1">Project</h2>
                        <h3 class="project-title-1"><a class="title-link" href="https://capstone-azure-two.vercel.app/" target="_blank" rel="noreferrer">Chest X-ray Analysis</a></h3>
                        <p class="project-desc-1 my-6">
                            Developed a web-based second-opinion platform using deep learning to analyze chest X-rays and detect 14 chest conditions, achieving 92% AUROC. 
                            Implemented real-time inference with Grad-CAM heatmaps and likelihood-based predictions for enhanced diagnostic accuracy.
                        </p>

                        <div class="project-subtitle-1 gap-8">
                            <h4 class="">Python</h4>
                            <h4 class="">Svelte</h4>
                        
                            <a href="https://github.com/Yuvraj-Sandhu/capstone" target="_blank" class="project-link">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="24" 
                                    height="24" 
                                    id = "button"
                                    color="#ededed"
                                    viewBox="0 0 24 24">
                                    <title>GitHub</title>
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                        <path id="github" d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5c.08-1.25-.27-2.48-1-3.5c.28-1.15.28-2.35 0-3.5c0 0-1 0-3 1.5c-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5c-.39.49-.68 1.05-.85 1.65c-.17.6-.22 1.23-.15 1.85v4"/>
                                        <path id="github" d="M9 18c-4.51 2-5-2-7-2"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="project-image left">
                        <img src="../../xray.png" alt="xray" class="project-img">
                    </div>
                </article>



                <article class="project-card my-16 lg:mx-80 row">
                    
                    <div class="project-content left">
                        <h2 class="project">Project</h2>
                        <h3 class="project-title"><a class="title-link" href="https://github.com/prchS/Fire-Image-Classification" target="_blank" rel="noreferrer">Fire Classification</a></h3>
                        <p class="project-desc my-6">
                            Developed CNN, SVM, and KNN models to classify fire and non-fire images from CCTV footage, achieving 97% accuracy with CNN. 
                            This classification enables real-time fire detection, enhancing safety by quickly identifying fire incidents in CCTV footage.
                        </p>

                        <div class="project-subtitle gap-8">
                            <h4 class="">Python</h4>
        
                            <a href="https://github.com/prchS/Fire-Image-Classification" target="_blank" class="project-link">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="24" 
                                    height="24" 
                                    id = "button"
                                    color="#ededed"
                                    viewBox="0 0 24 24">
                                    <title>GitHub</title>
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                        <path id="github" d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5c.08-1.25-.27-2.48-1-3.5c.28-1.15.28-2.35 0-3.5c0 0-1 0-3 1.5c-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5c-.39.49-.68 1.05-.85 1.65c-.17.6-.22 1.23-.15 1.85v4"/>
                                        <path id="github" d="M9 18c-4.51 2-5-2-7-2"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="project-image right">
                        <img src="../../fire.jpg" alt="fire" class="project-img">
                    </div>
                </article>
                
                
                
                <article class="project-card row">

                    <div class="project-content right">
                        <h2 class="project-1">Project</h2>
                        <h3 class="project-title-1"><a class="title-link" href="https://cs1xd3.online/ShowModulePublish?modulePublishId=c84f43ac-b90e-44c5-88b2-8dc7259bb32a" target="_blank" rel="noreferrer">Jungle Math</a></h3>
                        <p class="project-desc-1 my-6">
                            Geared towards 5th and 6th graders, this app simplifies concepts of perimeter, area, and angles through captivating lessons 
                            and an exciting adventure game that progresses as students answer quizzes.
                        </p>

                        <div class="project-subtitle-1 gap-8">
                            <h4 class="">Elm</h4>
                        
                            <a href="https://github.com/Yuvraj-Sandhu/jungle-Math" target="_blank" class="project-link">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="24" 
                                    height="24" 
                                    id = "button"
                                    color="#ededed"
                                    viewBox="0 0 24 24">
                                    <title>GitHub</title>
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                        <path id="github" d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5c.08-1.25-.27-2.48-1-3.5c.28-1.15.28-2.35 0-3.5c0 0-1 0-3 1.5c-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5c-.39.49-.68 1.05-.85 1.65c-.17.6-.22 1.23-.15 1.85v4"/>
                                        <path id="github" d="M9 18c-4.51 2-5-2-7-2"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="project-image left">
                        <img src="../../jungleMath.png" alt="jungleMath" class="project-img">
                    </div>
                </article>



                <article class="project-card my-16 lg:mx-80 row">
                    
                    <div class="project-content left">
                        <h2 class="project">Project</h2>
                        <h3 class="project-title"><a class="title-link" href="https://github.com/Yuvraj-Sandhu/Connect-4" target="_blank" rel="noreferrer">Connect-4</a></h3>
                        <p class="project-desc my-6">
                            A game that embodies OOP principles - encapsulation, inheritance and polymorphism. With an AI that plays and blocks winning moves, 
                            it offers a user-friendly interface, turn-based gameplay, and diverse modes while showcasing an engaging experience.
                        </p>

                        <div class="project-subtitle gap-8">
                            <h4 class="">Java</h4>
        
                            <a href="https://github.com/Yuvraj-Sandhu/Connect-4" target="_blank" class="project-link">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="24" 
                                    height="24" 
                                    id = "button"
                                    color="#ededed"
                                    viewBox="0 0 24 24">
                                    <title>GitHub</title>
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                        <path id="github" d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5c.08-1.25-.27-2.48-1-3.5c.28-1.15.28-2.35 0-3.5c0 0-1 0-3 1.5c-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5c-.39.49-.68 1.05-.85 1.65c-.17.6-.22 1.23-.15 1.85v4"/>
                                        <path id="github" d="M9 18c-4.51 2-5-2-7-2"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="project-image right">
                        <img src="../../connect-4.png" alt="jungleMath" class="project-img">
                    </div>
                </article>



                <article class="project-card row">

                    <div class="project-content right">
                        <h2 class="project-1">Project</h2>
                        <h3 class="project-title-1"><a class="title-link" href="https://github.com/Yuvraj-Sandhu/Konnec-4" target="_blank" rel="noreferrer">Konnec-4</a></h3>
                        <p class="project-desc-1 my-6">
                            Two-player Connect 4 game in Python, featuring object-oriented design with classes for game pieces and boards. 
                            Users can create custom instances. Robust exception handling ensures smooth gameplay by preventing crashes from invalid inputs.
                        </p>

                        <div class="project-subtitle-1 gap-8">
                            <h4 class="">Python</h4>
                        
                            <a href="https://github.com/Yuvraj-Sandhu/Konnec-4" target="_blank" class="project-link">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="24" 
                                    height="24" 
                                    id = "button"
                                    color="#ededed"
                                    viewBox="0 0 24 24">
                                    <title>GitHub</title>
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                        <path id="github" d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5c.08-1.25-.27-2.48-1-3.5c.28-1.15.28-2.35 0-3.5c0 0-1 0-3 1.5c-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5c-.39.49-.68 1.05-.85 1.65c-.17.6-.22 1.23-.15 1.85v4"/>
                                        <path id="github" d="M9 18c-4.51 2-5-2-7-2"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="project-image left">
                        <img src="../../konnec-4.png" alt="jungleMath" class="project-img">
                    </div>
                </article>



                <article class="project-card my-16 lg:mx-80 row">
                    
                    <div class="project-content left">
                        <h2 class="project">Project</h2>
                        <h3 class="project-title"><a class="title-link" href="https://github.com/yuvraj-sandhu" target="_blank" rel="noreferrer">Hospital Management System</a></h3>
                        <p class="project-desc my-6">
                            A Hospital Management System, built using Python and SQL database, it stores details of doctors, nurses, patients and manages appointments. 
                        </p>

                        <div class="project-subtitle gap-8">
                            <h4 class="">Python</h4>
                            <h4 class="">MySQL</h4>
        
                            <a href="https://github.com/yuvraj-sandhu" target="_blank" class="project-link">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="24" 
                                    height="24" 
                                    id = "button"
                                    color="#ededed"
                                    viewBox="0 0 24 24">
                                    <title>GitHub</title>
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                        <path id="github" d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5c.08-1.25-.27-2.48-1-3.5c.28-1.15.28-2.35 0-3.5c0 0-1 0-3 1.5c-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5c-.39.49-.68 1.05-.85 1.65c-.17.6-.22 1.23-.15 1.85v4"/>
                                        <path id="github" d="M9 18c-4.51 2-5-2-7-2"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                    
                    <div class="project-image right">
                        <img src="../../hms.png" alt="jungleMath" class="project-img">
                    </div>
                </article>


            </div>
        </div>
    </div>
</MainLayout>


<style>
    .project-inner {
        row-gap: 2rem;
    }
    .project-card {
        border-radius: 15px;
        padding: 25px;
        padding-bottom: 10px;
        /* background-color: rgba(34, 211, 238, 0.2);  */
        background-color: rgba(0, 171, 240, 0.25);
        width: 800px;
        box-shadow: 7px 10px 20px rgba(0, 0, 0, 0.2);
        transition: all 0.4s ease-in-out;
        transform-origin: center;

        @media (max-width: 768px) {
            column-count: 1;
            width: 100%;
            padding: 1rem 1rem 1rem;
        }
    }
    .project-image {
        position: relative;
        height: auto;
        width: 40%;
    }
    .project-img {
        height: 250px;
        width: 100%;
        border-radius: 7px;
        box-shadow: 3px 5px 16px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
    }
    .project-img:hover {
        transform: scale(1.03);
    }
    .project-button {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0rem;
    }
    .project-content {
        margin-bottom: 1.25rem;
        position: relative;
        height: fit-content;
        width: 55%;
    }
    .project-subtitle {
        position: relative;
        display: flex;
        font-size: medium;
        font-weight: medium;
        color: #00abf0;
        justify-content: left;
        margin-bottom: -10px;
        bottom: 0;
        left: 5%;

        @media (max-width:768px) {
            margin-bottom: 10px;
        }
    }
    .project-subtitle-1 {
        position: relative;
        display: flex;
        font-size: medium;
        font-weight: medium;
        color: #00abf0;
        justify-content: right;
        margin-bottom: -10px;
        bottom: 0;
        right: 5%;

        @media (max-width: 768px) {
            position: relative;
            display: flex;
            font-size: medium;
            font-weight: medium;
            color: #00abf0;
            justify-content: left;
            margin-bottom: 10px;
            bottom: 0;
            left: 5%;
            right:auto;
        }
    }
    #button:hover {
        color: #00abf0;
        transform: translateY(-5px);
    }
    .project {
        margin-bottom: 0.25rem;
        font-size: large;
        color: #00abf0;
        text-align: left;
    }
    .project-1 {
        text-align: right;
        margin-bottom: 0.25rem;
        font-size: large;
        color: #00abf0;
        right: 0;

        @media (max-width: 768px) {
            margin-bottom: 0.25rem;
            font-size: large;
            color: #00abf0;
            text-align: left;
        }
    }
    .project-title {
        margin-bottom: 0.25rem;
        font-size: xx-large;
        font-weight: bold;
        text-align: left;
    }
    .project-title-1 {
        text-align: right;
        margin-bottom: 0.25rem;
        font-size: xx-large;
        font-weight: bold;
        right: 0;

        @media (max-width:768px) {
            margin-bottom: 0.25rem;
            font-size: xx-large;
            font-weight: bold;
            text-align: left;
        }
    }
    .project-desc {
        text-align: left;
        margin-right: 15px;
    }
    .project-desc-1 {
        text-align: right;
        margin-left: 15px;
        @media (max-width: 768px) {
            text-align: left;
            margin-right: 15px;
            margin-left: 0px;
        }
    }
    
    .project-link {
        display: flex;
        align-items: center;
        column-gap: 0.25rem;
        color: #00abf0;
        font-size: small;
        font-weight: medium;
        transition: color 0.4s;
    }
    .project-card:hover {
        box-shadow: 7px 10px 40px rgba(0, 0, 0, 0.3);
        transform: scale(1.03);
    }
    .title-link:hover {
        color: #00abf0;
    }
    .left {
        float: left;
        width: 50%;
        @media ((max-width:768px)) {
            width: 100%;
        }
    }
    .right {
        float: right;
        width: 50%;
        @media ((max-width:768px)) {
            width: 100%;
        }
    }
    .row:after {
        content: '';
        display: table;
        clear: both;
    }
</style>
